@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.no-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

body {
}

.container {
  max-width: 1520px;
  margin: 0 auto;
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
